In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pandas_datareader as data

In [6]:
import pandas_datareader.data as web
start = '2010-01-01'
end = '2019-12-31'

df = web.DataReader('AAPL', 'stooq', start, end)
df.head()

               Open     High      Low    Close        Volume
Date
2019-12-31  71.0084  71.9246  70.9077  71.9176  1.030855e+08
2019-12-30  70.8938  71.6864  69.8549  71.3983  1.472306e+08
2019-12-27  71.3015  71.9974  70.5647  70.9755  1.494081e+08
2019-12-26  69.7592  71.0214  69.7303  71.0034  9.527219e+07
2019-12-24  69.7273  69.7762  69.2907  69.6226  4.948450e+07

In [7]:
df.tail()

               Open     High      Low    Close        Volume
Date
2010-01-08  6.40586  6.45421  6.36458  6.45401  5.246856e+08
2010-01-07  6.44444  6.45421  6.36409  6.41085  5.588893e+08
2010-01-06  6.52639  6.55241  6.41553  6.42221  6.452991e+08
2010-01-05  6.53905  6.56358  6.49230  6.52639  7.055130e+08
2010-01-04  6.49958  6.53008  6.46597  6.51522  5.764890e+08

In [ ]:
df=df.reset_index()
df.head()

Dropping date and Adj Close column

In [ ]:
df = df.drop(['Date'], axis=1)
df.head()

In [ ]:
plt.plot(df.Close)